---
import "../global.css";
import { Image } from "astro:assets";
import { type CollectionEntry, getCollection } from "astro:content";

import { SITE } from "../constants";

import SkillRating from "../components/composed/skill-rating.astro";
import Socials from "../components/composed/socials.astro";
import Head from "../components/head.astro";

import { getLangFromUrl, useTranslations } from "../lib/i18n";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const experiencesCollection: CollectionEntry<"experiences">[] =
  await getCollection("experiences");

const experiences = experiencesCollection.filter((entry) =>
  entry.slug.includes(lang)
);
---

<!doctype html>
<html lang={Astro.currentLocale}>
  <head>
    <meta name="robots" content="noindex" />
    <Head
      title={SITE.TITLE}
      description={SITE.DESCRIPTION}
      image={SITE.OPEN_GRAPH.IMAGE}
    />
    <style>
      @page {
        size: A4;
        margin: 0;
      }
    </style>
  </head>
  <body class="text-sm">
    <div class="flex flex-col md:flex-row">
      <div class="md:flex-1 p-8 min-h-screen h-full">
        <div>
          <h1 class="text-4xl font-bold text-zinc-950">Donald Silveira</h1>
          <h2 class="text-lg font-medium pb-2">Full-Stack & Mobile Engineer</h2>
          <Socials>
            <li class="-mt-2">
              <a href="mailto:donaldsilveira@gmail.com" class="text-sm">
                donaldsilveira@gmail.com
              </a>
            </li>
            <li class="-mt-2">
              <a href="phone:+5551982426594" class="text-sm">
                +55 (51) 98242-6594
              </a>
            </li>
          </Socials>
        </div>

        <div class="pt-12 space-y-2">
          <h3 class="text-lg font-bold text-zinc-950">Work Experience</h3>
          {
            experiences.map((exp) => (
              <div class="pb-2">
                <div class="flex items-center">
                  <h3 class="flex-1 font-medium text-zinc-950 dark:text-zinc-50">
                    {exp.data.role}
                  </h3>
                  <div class="font-medium text-sm">
                    {exp.data.startYear} - {exp.data.endYear}
                  </div>
                </div>

                <a href={exp.data.link} class="text-zinc-600">
                  {exp.data.company}
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="w-4 h-4"
                  >
                    <path d="M7 7h10v10" />
                    <path d="M7 17 17 7" />
                  </svg>
                </a>

                {exp.data.description.map((desc) => (
                  <p class="pt-2">
                    <Fragment set:html={desc} />
                  </p>
                ))}
              </div>
            ))
          }
        </div>

        <div class="pt-6 space-y-2">
          <h3 class="text-lg font-bold text-zinc-950">Certificates</h3>

          <div class="pb-2">
            <div class="flex items-center">
              <h3 class="flex-1 font-medium text-zinc-950 dark:text-zinc-50">
                IBM Full-Stack JavaScript Developer
              </h3>
              <div class="font-medium text-sm">Jul 2024</div>
            </div>

            <p class="pt-2">Coursera</p>
          </div>
          <div class="pb-2">
            <div class="flex items-center">
              <h3 class="flex-1 font-medium text-zinc-950 dark:text-zinc-50">
                Meta Front-End Developer
              </h3>
              <div class="font-medium text-sm">Jul 2024</div>
            </div>

            <p class="pt-2">Coursera</p>
          </div>
        </div>
      </div>
      <div
        class="print:w-[300px] md:w-[400px] min-h-screen h-full bg-zinc-950 text-white p-8 space-y-8"
      >
        <div class="flex items-center justify-center">
          <Image
            src="/me.jpg"
            alt="Donald Silveira"
            width={140}
            height={140}
            class="rounded-md grayscale"
          />
        </div>
        <div class="flex flex-col space-y-4">
          <h3 class="text-lg font-bold">About</h3>
          <p class="[&>a]:text-zinc-400">
            <Fragment set:html={t("home.hero.description.1")} />
          </p>
          <p class="pt-4">
            <Fragment set:html={t("home.hero.description.2")} />
          </p>
        </div>

        <div class="flex flex-col space-y-4">
          <h3 class="text-lg font-bold">Top Skills</h3>

          <div class="grid grid-cols-2 items-center gap-4">
            <div>JavaScript</div>
            <SkillRating rating={8} />
            <div>TypeScript</div>
            <SkillRating rating={8} />
            <div>React.JS</div>
            <SkillRating rating={7} />
            <div>React Native</div>
            <SkillRating rating={7} />
            <div>Next.JS</div>
            <SkillRating rating={7} />
            <div>Node.js</div>
            <SkillRating rating={6} />
            <div>Python</div>
            <SkillRating rating={5} />
            <div>SQL & NoSQL</div>
            <SkillRating rating={6} />
            <div>CI/CD</div>
            <SkillRating rating={7} />
          </div>
        </div>

        <div class="flex flex-col space-y-4">
          <h3 class="text-lg font-bold">Languages</h3>

          <div class="grid grid-cols-2 items-center gap-4">
            <div>Português</div>
            <div class="text-zinc-400">Native</div>
            <div>English</div>
            <div class="text-zinc-400">Proficient</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
