---
import { type CollectionEntry, getCollection } from "astro:content";

import BaseLayout from "../layouts/base-layout.astro";

import Container from "../components/composed/container.astro";
import SectionColumns from "../components/composed/section-columns.astro";
import Section from "../components/composed/section.astro";
import Socials from "../components/composed/socials.astro";
import Badge from "../components/ui/badge.astro";

import { getLangFromUrl, useTranslations } from '../lib/i18n';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const experiencesCollection: CollectionEntry<"experiences">[] =
  await getCollection("experiences");

const experiences = experiencesCollection.filter((entry) => entry.slug.includes(lang));
---

<BaseLayout>
  <Container>
    <Section class="border-t-0 mt-0 pt-0" data-animate data-animate-speed="slow">
      <SectionColumns>
        <div>
          <h1 class="text-2xl font-bold text-zinc-950 dark:text-zinc-50">
            Donald Silveira
          </h1>
          <h3>Full-Stack & Mobile Engineer</h3>
        </div>
        <div>
          <p class="font-mono">
            <Fragment set:html={t('home.hero.description.1')} />
          </p>
          <p class="font-mono pt-4">
            {t('home.hero.description.2')}
          </p>
          <Socials />
        </div>
      </SectionColumns>
    </Section>
    <Section data-animate data-animate-speed="slow">
      <SectionColumns>
        <div>
          <h3 class="text-lg font-bold text-zinc-950 dark:text-zinc-50">
            {t('home.experience.title')}
          </h3>
        </div>
      </SectionColumns>
      {experiences.map((exp) => (
        <SectionColumns class="pt-8">
          <div>
            {exp.data.endYear === "Present" ? (
              <span class="font-medium">{exp.data.startYear}</span>
              <Badge>Present</Badge>
            ) : (
              <span class="font-medium">{exp.data.startYear} - {exp.data.endYear}</span>
            )}
          </div>
          <div>
            <h3 class="font-medium text-zinc-950 dark:text-zinc-50">
              {exp.data.role}
            </h3>
            <a href={exp.data.link}>
              {exp.data.company}
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="w-4 h-4"
              >
                <path d="M7 7h10v10" />
                <path d="M7 17 17 7" />
              </svg>
            </a>
            {exp.data.description.map((desc) => (
              <p class="pt-4"><Fragment set:html={desc} /></p>
            ))}
          </div>
        </SectionColumns>
      ))}
    </Section>
    <Section data-animate data-animate-speed="slow">
      <SectionColumns>
        <div>
          <h3 class="text-lg font-bold text-zinc-950 dark:text-zinc-50">
            Tech Stack
          </h3>
        </div>
      </SectionColumns>
      <SectionColumns class="pt-6">
        <div>
          Syntax
        </div>
        <div>
          <ul class="list-none list-inside space-y-2">
            <li>TypeScript</li>
          </ul>
        </div>
      </SectionColumns>
      <SectionColumns class="pt-6">
        <div>
          Languages
        </div>
        <div>
          <ul class="list-none list-inside space-y-2">
            <li>JavaScript</li>
            <li>Python</li>
          </ul>
        </div>
      </SectionColumns>
      <SectionColumns class="pt-6">
        <div>
          JS Frameworks
        </div>
        <div>
          <ul class="list-none list-inside space-y-2">
            <li>
              <a href="https://react.dev/" target="_blank">ReactJS</a>
            </li>
            <li>
              <a href="https://nextjs.org/" target="_blank">Next.JS</a>
            </li>
            <li>
              <a href="https://astro.build/" target="_blank">Astro</a>
            </li>
          </ul>
        </div>
      </SectionColumns>
      <SectionColumns class="pt-6">
        <div>
          JS Runtimes
        </div>
        <div>
          <ul class="list-none list-inside space-y-2">
            <li>
              <a href="https://nodejs.org/en" target="_blank">Node.js</a>
            </li>
            <li>
              <a href="https://bun.sh/" target="_blank">Bun</a>
            </li>
          </ul>
        </div>
      </SectionColumns>
      <SectionColumns class="pt-6">
        <div>
          CSS Frameworks
        </div>
        <div>
          <ul class="list-none list-inside space-y-2">
            <li>
              <a href="https://tailwindcss.com/" target="_blank">Tailwind CSS</a>
            </li>
            <li>
              <a href="https://www.radix-ui.com/themes" target="_blank">Radix Themes</a>
            </li>
          </ul>
        </div>
      </SectionColumns>
      <SectionColumns class="pt-6">
        <div>
          UI Libraries
        </div>
        <div>
          <ul class="list-none list-inside space-y-2">
            <li>
              <a href="https://ui.shadcn.com/" target="_blank">Shadcn UI</a>
            </li>
            <li>
              <a href="https://www.radix-ui.com/primitives" target="_blank">Radix UI</a>
            </li>
          </ul>
        </div>
      </SectionColumns>
    </Section>
  </Container>
</BaseLayout>
